<div>
  <div>
    <h1>
      My Bets
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bet
    </h2>

    <form action="/insert_bet" method="post">
      <!--<div>
        <label for="team_bet_box">
          Team bet
        </label>

        <input type="text" id="team_bet_box" name="query_team_bet">
      </div>-->

        <label for="team_bet">Team bet</label>
        <select name="query_team_bet" id="query_team_bet">

        <% @list_of_teams.each do |team| %>
          <% if team.team_name == @user.favorite_team %>
          <option value="<%= team.team_name %>" selected>
              <%= team.team_name %>
          </option>
          <% end %>
          <% if team.team_name != @user.favorite_team %>
          <option value="<%= team.team_name %>">
              <%= team.team_name %>
          </option>
          <% end %>
        <% end %>
        </select>

      <div>
        <label for="favorite_or_underdog_box">
          Odds
        </label>


        <select name="query_favorite_or_underdog" id="query_favorite_or_underdog">
          <option value="Favorite">
              -
          </option>
          <option value="Underdog">
              +
          </option>
        </select>

        <input type="text" id="odds_box" name="query_odds">
      </div>

        <label for="opposing_team_box">Opposing team</label>
        <select name="query_opposing_team" id="query_opposing_team">

        <% @list_of_teams.each do |team| %>
          <option value="<%= team.team_name %>">
              <%= team.team_name %>
          </option>
        <% end %>
        </select>

      <div>
        <label for="wager_box">
          Wager
        </label>

        <input type="text" id="wager_box" name="query_wager">
      </div>

      <div>
        <label for="win_loss_box">
          Bet Won/Lost/Pending
        </label>

        <select name="query_win_loss" id="query_win_loss">
          <option value="Win">
              Win
          </option>
          <option value="Loss">
              Loss
          </option>
          <option value="Pending" selected>
              Pending
          </option>
        </select>

      </div>

      <!--<div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>-->

      <!--<div>
        <label for="money_won_lost_box">
          Money won lost
        </label>

        <input type="text" id="money_won_lost_box" name="query_money_won_lost">
      </div>-->

      <!--<div>
        <label for="team_id_bet_box">
          Team id bet
        </label>

        <input type="text" id="team_id_bet_box" name="query_team_id_bet">
      </div>-->

      <!--<div>
        <label for="opposing_team_id_box">
          Opposing team
        </label>

        <input type="text" id="opposing_team_id_box" name="query_opposing_team_id">
      </div>-->

      <!--<div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>-->

      <button>
        Create bet
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <!--<th>
          ID
        </th>-->

        <th>
          Team Bet
        </th>

        <th>
          Favorite/Underdog
        </th>

        <th>
          Opposing Team
        </th>

        <th>
          Odds
        </th>

        <th>
          Wager
        </th>

        <th>
          Outcome
        </th>

        <th>
          Money Won/Lost
        </th>

        <!--<th>
          Likes count
        </th>-->

        <th>
          Created
        </th>

        <!--<th>
          Updated At
        </th>-->

        <th>
          Update Outcome
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bets.each do |a_bet| %>
      <tr>
        <!--<td>
          <%= a_bet.id %>
        </td>-->

        <td>
          <%= a_bet.team_bet %>
        </td>

        <td>
          <%= a_bet.favorite_or_underdog %>
        </td>

        <td>
          <%= a_bet.opposing_team %>
        </td>

        <td>
          <%= a_bet.odds %>
        </td>

        <td>
          <%= a_bet.wager %>
        </td>

        <td>
          <%= a_bet.win_loss %>
        </td>

        <td>
          <%= a_bet.money_won_lost %>
        </td>

        <!--<td>
          <%= a_bet.likes_count %>
        </td>-->

        <td>
          <%= time_ago_in_words(a_bet.created_at) %> ago
        </td>
        <!--<td>
          <%= time_ago_in_words(a_bet.updated_at) %> ago
        </td>-->

        <td>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= a_bet.win_loss %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Win</a>
              <a class="dropdown-item" href="#">Loss</a>
              <a class="dropdown-item" href="#">Pending</a>
            </div>
          </div>
        </td>

        <!--<td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-success">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Win
            </label>
            <label class="btn btn-outline-danger">
              <input type="radio" name="options" id="option2" autocomplete="off"> Loss
            </label>
            <label class="btn btn-outline-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> Pending
            </label>
          </div>
        </td>-->

        <td>
          <a href="/bets/<%= a_bet.id %>">
            Edit Bet
          </a>
        </td>

        <td>
          <a href="/delete_bet/<%= a_bet.id %>">
            Delete Bet
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
