<h1> Bet Leaderboard! </h1>

<div>
  <div>
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>
          Username
        </th>
        <th>
          Total Bets
        </th>
        <th>
          Wins
        </th>
        <th>
          Losses
        </th>
        <th>
          Win Percent
        </th>
        <th>
          Money Won/Lost
        </th>
        <th>
          ROI
        </th>
      </tr>
      </thead>

      <% @all_users.each do |user| %>
        <% users_bets = Bet.where({ :owner_id => user.id }) %>
        <% @win_counter = 0 %>
        <% @loss_counter = 0 %>
      <% if users_bets != nil %>
        <% users_bets.each do |bet| %>
          <% @balance = @balance + bet.money_won_lost %>
          
          <% @total_wagers = @total_wagers + bet.wager %>
          <% if bet.win_loss == "Pending" %>
            <% @pending_wagers = @pending_wagers + bet.wager %>
          <% end %>

          <% if bet.win_loss == "Loss" %>
            <% @loss_counter = @loss_counter + 1 %>
          <% end %>
          <% if bet.win_loss == "Win" %>
            <% @win_counter = @win_counter + 1 %>
          <% end %>

        <% end %>
      <% end %>

          <!--<% if @balance > 0 %>
            <%  @money_won_or_lost = @balance - @total_wagers %>
          <% else %>
            <%  @money_won_or_lost = @balance %>
          <% end %>-->

          <% if @total_wagers > 0 %>
            <% @roi = user.total_balance / (@total_wagers - @pending_wagers) %>
          <% end %>
      
        <% if user.total_balance < 0 %> 
        <tr class="table-danger">
        <% else %>
        <tr class="table-success">
        <% end %>
        <td>
          <%= user.username %>
        </td>
        <td>
          <%= user.bets_count %>
        </td>
        <td>
          <%= @win_counter %>
        </td>
        <td>
          <%= @loss_counter %>
        </td>
        <td>
          <% if (@win_counter + @loss_counter) != 0 %>
          <% @win_percent = (@win_counter.to_f / (@win_counter.to_f + @loss_counter.to_f)) * 100 %>
          <%= @win_percent.round(2) %>%
          <% else %>
          <%= 100 %>%
          <% end %>
        </td>
      
        <td>
          <%= number_to_currency(user.total_balance) %>
        </td>
        <td>
          <%= (@roi * 100).round(2) %>%
        </td>
      </tr>

      <% end %>
    </table>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div>
  <h3> Best Bet </h3>
</div

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= #best_bet_username %>></h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
