<h1> Bet Leaderboard! </h1>

<div>
  <div>
    <table>
      <tr>
        <th>
          Username
        </th>
        <th>
          Total Bets
        </th>
        <th>
          Wins
        </th>
        <th>
          Losses
        </th>
        <th>
          Win Percent
        </th>
        <th>
          Money Won/Lost
        </th>
        <th>
          ROI
        </th>
        <th>
          Best Odds Win
        </th>
      </tr>

      <% @all_users.each do |user| %>
        <% users_bets = Bet.where({ :owner_id => user.id }) %>
      <% if users_bets != nil %>
        <% users_bets.each do |bet| %>
          <% @balance = @balance + bet.money_won_lost %>
          <% @total_wagers = @total_wagers + bet.wager %>

          <% if bet.win_loss == "Loss" %>
            <% @loss_counter = @loss_counter + 1 %>
          <% end %>
          <% if bet.win_loss == "Win" %>
            <% @win_counter = @win_counter + 1 %>
          <% end %>

        <% end %>

          <% if @balance > 0 %>
            <%  @money_won_or_lost = @balance - @total_wagers %>
          <% else %>
            <%  @money_won_or_lost = @balance %>
          <% end %>
          <% if @total_wagers > 0 %>
            <% @roi = @money_won_or_lost / @total_wagers %>
          <% end %>
      <% end %>
      
        <tr>
        <td>
          <%= user.username %>
        </td>
        <td>
          <%= user.bets_count %>
        </td>
        <td>
          <%= @win_counter %>
        </td>
        <td>
          <%= @loss_counter %>
        </td>
        <td>
          <% if user.bets_count != 0 %>
          <%= @win_counter / user.bets_count * 100 %>%
          <% else %>
          <%= 100 %>%
          <% end %>
        </td>
        
        
        <td>
          <%= @roi %>
        </td>
        <td>
          xx
        </td>
      </tr>

      <% end %>
    </table>
  </div>
</div>

<div>
  <h3> Best Bet </h3>
</div
