<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="query_favorite_team">Favorite team</label>

        <select name="query_favorite_team" id="query_favorite_team">

          <% @list_of_teams.each do |team| %>
          <% if team.team_name == @user.favorite_team %>
          <option value="<%= team.team_name %>" selected>
              <%= team.team_name %>
          </option>
          <% end %>
          <% if team.team_name != @user.favorite_team %>
          <option value="<%= team.team_name %>">
              <%= team.team_name %>
          </option>
          <% end %>
        <% end %>
        </select>
      </div>
      <div>
        <label for="default_bet_box">Default bet</label>
        <input id="default_bet_box" name="query_default_bet" value="<%= @current_user.default_bet %>">
      </div>
      <!--<div>
        <label for="total_balance_box">Total balance</label>
        <input id="total_balance_box" name="query_total_balance" value="<%= @current_user.total_balance %>">
      </div>
      <div>
        <label for="bets_count_box">Bets count</label>
        <input id="bets_count_box" name="query_bets_count" value="<%= @current_user.bets_count %>">
      </div>-->

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
